// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-white: #e0dbe0;
$c-blue: #40b7e3;
$c-black: #040102;


body {
  margin: 0;
  font-family: sans-serif;
}

.outer-container {
  height: 100vh;
  margin: 0 auto;
  padding: 5rem;
  background: $c-black;
  display: flex;
  flex-grow: 1;
}

.inner-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: $c-white;
}

.app-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar__container {
  display: flex;
  width: 100%;
  //margin-bottom: 1rem;
}

.search-bar {
  flex-grow: 1;
  padding: 1.5rem;
  font-size: 1.5rem;

}

.search-button {
  padding: 1.5rem 2rem;
  background-color: $c-blue;
  color: $c-white;
  font-size: 1.5rem;
}

.title-contianer {
  //float: left;
}

.main {
  margin: 2rem;
  flex-grow: 1;
}

img {
  overflow: auto;
  height: 15rem;
  padding-right: 2rem;
}

.summary-container {
  clear: both;
}

.show_title {
  margin-top: 0;
}
